@import "@fortawesome/fontawesome-free/css/all.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  @font-face {
    font-family: "Work Sans";
    font-display: swap;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Open Sans";
    font-display: swap;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
  }
}

.saturate-overlay {
  --saturate-size: 25rem;
  --saturate-x: calc(var(--saturate-size) * -1);
  --saturate-y: calc(var(--saturate-size) * -1);
  position: absolute;
  top: 0;
  left: 0;
  right: ;
  pointer-events: none;
  user-select: none;
  mask: radial-gradient(
    var(--saturate-size) var(--saturate-size) at var(--saturate-x) var(--saturate-y),
    black 20%,
    transparent 70%
  );
  /* transition: 1000ms mask ease; */
  will-change: mask;
}
