@import "@fortawesome/fontawesome-free/css/all.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: "Work Sans";
    font-display: swap;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Open Sans";
    font-display: swap;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
  }
}

@layer components {
  .tag {
    @apply ring-grayish hover:ring-white hover:text-white cursor-pointer text-xs inline-flex items-center font-bold uppercase px-3 py-1 text-grayish ring-1 rounded-full;
  }
}

