@import "@fortawesome/fontawesome-free/css/all.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  @font-face {
    font-family: "Work Sans";
    font-display: swap;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Open Sans";
    font-display: swap;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
  }
}

.grid-item { width: 200px; }
