body {
  background-color: #655643;
}

.img-container {
  position: relative;
  display: flex;
  overflow: hidden;
}

.info {
  color: white;
  background-color: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}

.info:hover {
  transition: opacity 200ms linear;
  opacity: 0.6;
}

.app-bar {
  position: fixed;
  background-color: #BF4D28;
  margin-right: 20px;
  width: 100%;
  display: flex;
  z-index: 2;
  height: 60px;
  left: 0;
}

.app-bar .active {
  color: black;
  height: 60px;
  background-color: #80BCA3;
}

.menu-item {
  padding-left: 15px;
  padding-right: 15px;
  font-family: Lato, sans-serif;
  color: white;
}

.menu-item:hover {
  background-color: #E6AC27;
  transition: all 200ms linear;
}

.title {
  font-size: 24px;
  font-family: Lato, sans-serif;
  margin-right: 20px;
  margin-left: auto;
}

.flex-middle {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.z1 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}